
<style>
  table{
    width: 50%;
    margin: 2em auto;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout:fixed;
    word-break: break-all; 
  }
  table th{
    font-weight: 700;
  }
  table th,
  table td{
    padding:1em;
    border: 1px solid #888;
  }
</style>

<table>
<thead>
  <tr>
    <th>Header1</th>
    <th>Header2</th>
    <th>Header3</th>
  </tr>
</thead>
  <tr>
  	<td>test</td>
  	<td>test</td>
  	<td>test</td>
  </tr>
  <tr>
  	<td>test</td>
  	<td>test</td>
  	<td>test</td>
  </tr>
  <tr>
  	<td>test</td>
  	<td>test</td>
  	<td>test</td>
  </tr>
  <tr>
  	<td>test</td>
  	<td>test</td>
  	<td>test</td>
  </tr>
</table>
